aside.aside
	nav.list-group
		a.list-group-item.list-group-item-action.active(href="javascript:void(0)") Cras justo odio
		a.list-group-item.list-group-item-action(href="javascript:void(0)") Dapibus ac facilisis
		a.list-group-item.list-group-item-action(href="javascript:void(0)") Morbi leo risus
